.header {
    &__info{
        padding-top: 28px;
        height: 59px;
        width: 100%;
        // float: right;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        a {
            color: #fff;
        }
        &__phone {
            @extend %font-top;
            margin-right: 15px;
            a {
                display: inline;
            }
        }
        &__opentime {
            @extend %font-top;
        }
    }
    &__container {
        height: 70px;
        position: relative;
        z-index: 1000;
    }
    &__logo {
        position: absolute;
        z-index: 1;
        top: -60px;
    }
    &__nav {
        height: 70px;
        .nav {
            padding-top: 15px;
        }
        li > a,p {
            font-size: 18px;
            background: transparent;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
            padding-bottom: 2px;
            color: #ffffff;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 20px;
            margin-right: 20px;
        }
        li > a:hover {
            color: #ff5400;
            border-bottom: 2px solid #ff5400;
        }
        li > p:hover {
            color: #ff5400;
            border-bottom: 2px solid #ff5400;
        }
        a:hover{
            outline: none;
            text-decoration: none;
        }
        &__left {
            float: left;
            left: 200px;
            position: absolute;
        }
        &__right {
            float: right;
            li > a {
                color: #7e8eaa;
                font-size: 14px;
                z-index: 999;
            }
        }
    }
    &__dropdown-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 2px 4px #fff;
        padding: 10px;
        background : #0e1d2f;
        a { 
            color: #7e8eaa;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }
    &__dropdown:hover > p {
        color: #ff5400;
        border-bottom: 2px solid #ff5400;
    }
    &__dropdown:hover &__dropdown-menu{
        display: block;
        border-top: 1px solid #7e8eaa;
    }
    &__dropdown-menu a:hover {
        color:  #ff5400;
    }
}