.listMovies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #0e1d2f;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &__top {
        display: flex;
        justify-content:space-between;
        margin-top: 35px;
    }
    &__search {
        label {
            color: #0e1d2f;
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
        }
        input {
            border: 1px solid #ccc;
            border-radius: 4px;
            color: black;
            height: 30px;
            line-height: 30px;
            padding: 8px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
        input:focus {
            outline: none;
            border: 1px solid #7e8eaa;
            box-shadow: 1px 1px 2px #7e8eaa;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 24px;
        color : #0e1d2f;
    }
    &__name {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__item {
        margin-top: 20px;
        position: relative;
        text-align: center;
        width: 270px;
        height: 374px;  
        p {
            margin : 0;
        }
    }
    &__type {
        text-transform: uppercase;
    }
    &__time,&__premiere {
        text-transform: uppercase;
    }
    &__link {
        margin : 0 auto;
        width: 195px;
        height: 281px;
        img {
            height: 281px;
            width: 195px;
        }    
    }

}