.news {
    background: #f0efe8;
    padding: 70px 0px !important;
    &__title {
        font-weight: 700;
        font-size: 36px;
        color: #031327;
    }
    &__box {
        height: 143px;
        padding: 15px;
        margin-top: 20px;
        border: 2px solid #c8c6be;
        overflow-y: auto;
        margin-bottom: 20px;
        h3 {
            font-size: 16px;
            text-transform: uppercase;
            color: #ff5400;
            line-height: 2;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p {
            font-weight: lighter;
            font-size: 13px;
            color: #606060;
            margin: 0;
        }
    }
    &__show-more {
        height: 143px;
        padding: 15px;
        margin-top: 20px;
        background-color: rgba(44, 43, 43, 0.226);
        border: 2px solid #c8c6be;
        overflow-y: auto;
        margin-bottom: 20px;
        a {
            color: #ff5400;
            text-align: center;
            display: block;
            padding-top: 40px;
        }
    }
    &__img {
        position: relative;
    }
    &__img-wrap {
        display: none;
        background-color: rgba(255, 84, 0, 0.8);
        background-size: 100% auto;
        position: absolute;
        top: 0px;
        left: 15px;
        height: 262px;
        width: 262px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-decoration: none;
        color: #fff;
    }
    .btn-details {
        border-radius: 25px;
        border: 1.5px solid #ffffff;
        font-weight: bold;
        padding: 10px 23px;
        font-size: 14px;
        font-family: "SairaSemiCondensed-SemiBold", sans-serif;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        width: 113px;
        margin: 0 auto;
    }
    &__img:hover &__img-wrap{
        display: block;
        height: 130px;
        width:150px;
        top: 25%;
        left: 25%;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
    }
    img {
        width:100%;
        object-fit: cover;
    }
}