.not-found {
    margin: 100px 0;
    text-align: center;
    h1 {
        color: #ff5400;
        font-size: 90px;
    }
    h3 {
        color: #ff5400;
        font-size: 40px;
        margin-top: -20px;
        margin-bottom: 50px;
    }
    p {
        margin: 0 0 10px;
    }
}
